<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/auth/login" method="POST">
      <input name="input_user" type="text" placeholder="user" value="user">
      <input name="input_pass" type="password" placeholder="pass" value="pass">
      <button type="submit">submit</button>
    </form>
  </body>
</html>
